:root {
  /* Fonts */
  --primary-font: 'Poppins', sans-serif;

  /* Text color */
  --primary-text-color: #292d32;
  --accent-text-color: #16c098;
  --secondary-text-color: #9197b3;
  --title-table-color: #b5b7c0;
  --lite-grey-text: #757575;
  --text-title-color: #000000;
  --wite-text-color: #ffffff;
  --btn-success-color: #008767;
  --btn-failure-color: #df0404;
  --gray-txt-color: #838383;
  --active-link-color: #5932ea;
  --success-border-color: #00b087;
  --pagination-txt-color: #404b52;
  --pagination-txt-active-color: #f5f5f5;
  --table-primary-color: #dddddd;

  /* Background-color */
  --wite-background-color: #ffffff;
  --accent-color: #fafbff;
  --success-background-color: rgba(22, 192, 152, 0.38);
  --failure-background-color: #ffc5c5;
  --pagination-background-color: #f5f5f5;

  /* Line color */
  --pagination-border-color: #eeeeee;
}
